.layout{
    display:flex;
    align-items: center;
    justify-content: center;
}

.mainBody {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    /*min-width: 1500px;*/
}

.upperBody {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.dynTables {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.table {
    margin: 15px 15px 15px 15px;
}

.notification {
    position: fixed;
    z-index: 100;
    bottom: 100px;
    right: 20px;
    min-width: 200px;
}