.layout{
    display:flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

.algorithmEditor{
    max-width: 300px;
}

.mainBody {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
}

.upperBody {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.dynTables {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.tableWithButtons{
    display: flex;
    flex-direction: column;
}

.table {
    margin: 15px 15px 15px 15px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    margin: 5px 10px 20px 10px;

}

.buttons .button {
    width: 200px;
}

.switch {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.resultTables {
    display: flex;
    flex-direction: column;
}

.notification {
    position: fixed;
    z-index: 100;
    bottom: 100px;
    right: 20px;
    min-width: 200px;
}

@media (max-width: $breakpointSM) {
    .layout {
        display: flex;
        gap: 20px;
        flex-direction: column;
        align-items: center;
    }

    .algorithmEditor {
        max-width: 100%;
    }

    .mainBody {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }
}